{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "test/**/*.js",
        "node_modules",
        "index.js"
    ],
    "check-coverage": true,
    "branches": 80,
    "lines": 80,
    "functions": 80,
    "statements": 80
}